@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}

<h1>Details</h1>


    <h4>Movie</h4>
    <hr />
    <div class="row justify-content-Left m-3">
        <div class="col-sm-8">
            <div class="card-header">
                <h1>@Model.Title</h1>
            </div>
            <div class="care-body text-left">
                <img class=" = " card-img-top" src=@photoPath" asp-append-version="true" />
                <h6> @Html.DisplayNameFor(model => model.PhotoPath): @Html.DisplayFor(model => model.PhotoPath) </h6>
                <h4> @Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(model => model.ReleaseDate) </h4>
                <h4> @Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(model => model.Genre) </h4>
                <h4> @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price) </h4>
                <h4> @Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating) </h4>
            </div>
        </div>
       
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
